<!DOCTYPE html>
<html>
<script src="utility.js"></script>
<script src="mips_constants.js"></script>
<script src="mips.js"></script>
<script src="controller.js"></script>
<script src="lib/angular.js"></script>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<!--<div ng-app>-->
    <!--<h2>Todo</h2>-->
    <!--<div ng-controller="TodoCtrl">-->
        <!--<span>{{remaining()}} of {{todos.length}} remaining</span>-->
        <!--[ <a href="" ng-click="archive()">archive</a> ]-->
        <!--<ul class="unstyled">-->
            <!--<li ng-repeat="todo in todos">-->
                <!--<input type="checkbox" ng-model="todo.done">-->
                <!--<span class="done-{{todo.done}}">{{todo.text}}</span>-->
            <!--</li>-->
        <!--</ul>-->
        <!--<form ng-submit="addTodo()">-->
            <!--<input type="text" ng-model="todoText"  size="30" placeholder="add new todo here">-->
            <!--<input class="btn-primary" type="submit" value="add">-->
        <!--</form>-->
    <!--</div>-->
<!--</div>-->
<div ng-app>
    <div ng-controller="TestCtrl">
        <form ng-submit="runConvert()">
            <textarea placeholder="Код" ng-model="$parent.codeArea"></textarea> <br/>
            <input class="btn-primary" type="submit" value="Додати">
        </form>
        <br/>
        <textarea placeholder="Результат" ng-model="resultArea" cols="38" rows="10"></textarea>
        <!--<ul class="unstyled">-->
            <!--<li ng-repeat="register in registers track by $index">-->
                <!--<span>{{registersName[$index]}} -- {{register}}</span>-->
            <!--</li>-->
        <!--</ul>-->
    </div>
</div>
</body>
</html>