.bounded-group-round{
    -fx-border-radius:10 10 10 10;
    -fx-padding: 5;
    -fx-border-color: #d6d6d6;
    -fx-border-width: 0.083333em;
}

.propLabel{
	-fx-text-fill: #AAAAAA;
	-fx-font: 0.833333em "Arial";
}